.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  margin: 20px;
}

.title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 600;
  color: #555;
}

.statList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: min-content;
  color: #fff;
}

.label {
  display: block;
  margin: 12px 0 0 0;
}

.percentage {
  display: block;
  margin: 12px;
  font-size: 20px;
}
